body {
  color: #242121;
  background-color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.6px;
}

.wrapper {

  overflow-x: hidden;
}

.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ---title------ */

.title {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: #01353e;
}

.title::after {
  content: "/";
  color: #00b2a0;
  font-size: 1.5em;
  position: absolute;
  padding-top: 3px;
  padding-left: 11px;
}

.btn {
  padding: 20px 10px;
  min-width: 350px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 24px;
  background-color: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  outline: transparent;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
  -webkit-transition: color 0.3s, background-color 0.3s, border 0.3s;
  -moz-transition: color 0.3s, background-color 0.3s, border 0.3s;
  -ms-transition: color 0.3s, background-color 0.3s, border 0.3s;
  -o-transition: color 0.3s, background-color 0.3s, border 0.3s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.btn:focus {
  border-color: #666;
}

.btn:hover {
  color: #ffffff;
  background-color: #00b2a0;
  border-radius: 10px;
}

.btn:active {
  color: #000000;
  background-color: #c3c9c8;
}

/* ---header----- */



.header {

}

.wrapper-menu {
  position: fixed;
  z-index: 100;
  width: 100%;
  /* height: 100px; */
}

.header__background {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
}

.header__background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 45.37%;
  background-image: linear-gradient(180deg, #01353e 0%,
      rgba(51, 51, 51, 0.595076) 31.64%,
      rgba(51, 51, 51, 0.222586) 74.35%,
      rgba(51, 51, 51, 0) 99.87%);
}

.header__wrapper-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.header__logo {
  position: absolute;
  top: 33px;
  display: flex;
  z-index: 150;
  border-radius: 5px;
}

.logo {
  outline: 1px solid transparent;
  outline: none;
}

.logo:focus {
  outline: cornflowerblue;
}

.logo__img {
  transition: transform 0.3s;
}

.logo__img:hover {
  transform: scale(1.1);
}

.header__menu {
  position: relative;
  z-index: 100;
  /* background-color: #ac5576; */
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 52px;
}

.menu {
  position: relative;
  transition: transform 0.9s;
}

.menu__btn {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #13e9ef;
  padding-top: 5px;
  height: 50px;
  width: 60px;
  border-radius: 5px;
  left: auto;
  right: 35px;
  top: 40px;
  z-index: 15;
}

.menu-icon {
  position: relative;
  width: 3em;
  height: 2.25em;
  display: inline-block;
}

.menu-icon span {
  position: absolute;
  height: 0.1875em;
  width: 100%;
  background-color: #363636;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
}

.menu-icon span:nth-child(1) {
  top: 0.09375em;
}

.menu-icon span:nth-child(2),
.menu-icon span:nth-child(3) {
  top: 0.9375em;
}

.menu-icon span:nth-child(4) {
  top: 1.875em;
}

.menu-button {
  padding-top: 8px;
}

.menu-button:hover span,
.menu-button:focus span,
.menu-button:active span {
  background: #D00251;
}

.menu-icon.menu-icon--active span:nth-child(1),
.menu-icon.menu-icon--active span:nth-child(4) {
  opacity: 0;
}

.menu-icon.menu-icon--active span:nth-child(2) {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.menu-icon.menu-icon--active span:nth-child(3) {
  top: 0, 9375;

  transform: rotate(-45deg);
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-Y: hidden;
  padding-bottom: 50px;
}

.menu__list--scroll {
  overflow-y: scroll;
}

.menu__item:not(:last-child) {
  margin-right: 45px;
}

.menu__link {
  display: block;
  color: #ffffff;
  font-size: 24px;
  line-height: 1.2;
  font-weight: normal;
  border: 1px solid transparent;
  outline: transparent;
  outline-offset: 0;
  transition: border-color 0.3s linear, color 0.3s linear;
}

.menu__link:focus {
  border-color: #B1B1B1;
}

.menu__link:hover {
  border-bottom-color: #00b2a0;
}

.menu__link:active {
  color: #000000;
  background-color: #c3c9c8;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.row {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.content__description {
  overflow: hidden;
  color: #000;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  transform: translateY(-17%);
}

.content__name {
  display: block;
  color: #0d302c;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 200px;
  font-weight: bold;
  text-transform: uppercase;
}

.content__icon {
  background-image: url("../images/vector.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  min-height: 69px;
  margin-bottom: 92px;
  transition: transform 0.3s;
  outline: 1px solid transparent;
}

.content__icon:hover {
  transform: scale(1.3);
}

/* ---about------ */

.about {
  padding: 189px 0 200px ;
}

.about__title {
  margin-bottom: calc(100vw * 0.052);
}

.about__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about__text p {
  margin-bottom: 27px;
  flex-basis: 40%;
  margin-right: 10%;
}

/* ---get-------- */

.get {
  padding-top: calc(100vw * 0.09);
  padding-bottom: calc(100vw * 0.11);
  background-color: #f8f8f8;
}

.get__title {
  margin-bottom: calc(100vw * 0.05);
}

.get__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(100vw * 0.055);
}

.get__item {
  max-width: 350px;
}

.get__subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 220px;
  margin: 0 auto 11px;
  padding-left: 65px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: normal;
  text-transform: uppercase;
  min-height: 55px;
}

.get__subtitle::before {
  content: "";
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}

.get__subtitle--residence::before {
  background-image: url("../images/residence.svg");
}

.get__subtitle--flight::before {
  background-image: url("../images/flight.svg");
}

.get__subtitle--training::before {
  background-image: url("../images/training.svg");
}

/* ------------------- */

.get__bottom {
  display: flex;
  justify-content: space-between;
}

.statistics {
  width: 100%;
  max-width: 350px;
}

.statistics__item {
  display: flex;
  position: relative;
}

.statistics__item:not(:last-child) {
  margin-bottom: 25px;
}

.statistic__text {
  position: inherit;
  top: 30px;
  margin-right: 10px;
}

.statistic__text::before {
  content: "";
  background-image: url("../images/statidtics.svg");
  background-repeat: no-repeat;
  position: absolute;
  bottom: 25px;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.statistics__span {
  display: block;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
}

.get__advantages {
  max-width: 600px;
}

.get__advantages p:not(:last-child) {
  margin-bottom: 30px;
}

/* ---serfing---- */

.serfing {
  position: relative;
  padding-top: calc(100vw * 0.1);

}


.serfing__title {
  margin-bottom: calc(100vw * 0.052);
  text-align: left;
}

.serfing__inner {
  width: 49%;
}

.serfing__text p {
  max-width: 507px;
}

.serfing__text p:not(:last-child) {
  margin-bottom: 30px;
}

.serfing__foto {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: calc(100vw * 0.435);
  background-size: cover;
  background-repeat: no-repeat;
}

/* ---gallery---- */

.gallery {
  padding-top: calc(100vw * 0.179);
}

.gallery__title {
  margin-bottom: calc(100vw * 0.108);
}

.mix__filters {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 45px;
}

.mix__filter:not(:last-child) {
  margin-right: 14px;
}

.mix__btn {
  background-color: transparent;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.2;
  text-transform: uppercase;
  outline: transparent;
  padding: 0 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
}

.mix__btn:focus {
  border-color: #666;
  -webkit-box-shadow: inset 0px 0px 5px 5px #D3D3D3;
  box-shadow: inset 0px 0px 8px 5px #D3D3D3;
}

.mix__btn:hover {
  color: #ffffff;
  background-color: #00b2a0;
  border-radius: 5px;

}

.mix__btn:active {
  color: #000000;
  background-color: #c3c9c8;
  border-radius: 5px;
}

.mixitup-control-active {
  border-radius: 5px;
}

.mix__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -40px;
}

.mix__image {
  position: relative;
  margin-bottom: 40px;
  margin-right: 40px;
}

.mix__link::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51);
  opacity: 0;
  transition: opacity 0.5s;
}

.mix__link:hover::before {
  background-color: rgba(51, 51, 51);
  opacity: 0.7;
}



.gallery__show {
  padding-top: 12px;
  margin-bottom: calc(100vw * 0.1);
  text-align: center;
}

/* -----blockquote----- */

.blockquote {
  background-color: #f8f8f8;
  padding: 80px 0 60px;
  margin-bottom: calc(100vw * 0.105);
  display: flex;
  justify-content: center;
}

.blockquote__inner {
  flex: 0 1 880px;
  text-align: center;
  font-size: 36px;
  line-height: 1.1;
  font-style: italic;
  font-weight: normal;
}

.blockquote__author {
  display: block;
  text-align: right;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 300;
  padding-right: 10px;
}

.video {
  display: block;
  margin-bottom: calc(100vw * 0.102);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.video::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  background-image: url("../images/play-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s; */
  transition: background-image 0.5s;
}

.video:hover::before {
  background-image: url("../images/play-icon-hover.svg");
}

.numbers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: calc(100vw * 0.1);
}

.numbers__item {
  text-align: center;
  font-weight: 700;
  font-size: 64px;
  color: #01353e;
}

.numbers__item:not(:last-child) {
  margin-right: 92px;
}

.numbers__item span {
  display: block;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  padding-top: 5px;
}

/* ---blog------- */

.blog__title {
  margin-bottom: calc(100vw * 0.12);
}

.blog__link {
  display: block;
  height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.blog__link::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(36, 33, 33, 0.5);
}

.blog__container {
  min-height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.blog__inner {
  z-index: 1;
  color: #ffffff;
  max-width: 600px;
  transform: translateY(-16px);
}

.blog__text {
  font-weight: normal;
  font-size: 48px;
  line-height: 1.2;
  text-transform: uppercase;
}

.blog__subtext {
  font-weight: 300;
  font-size: 14px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  transform: translateY(-100px);
}

.slick-dots li:not(:last-child) {
  margin-right: 15px;
}

.slick-dots button {
  border: none;
  font-size: 0;
  background-color: white;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  outline: transparent;
  cursor: pointer;
  transition: transform 0.3s;
}

.slick-dots button:hover {
  transform: scale(1.3);
}

.slick-active button {
  width: 17px;
  height: 17px;
  background-color: #00b2a0;
}

/* -----ourteam----- */

:root {
  --column-margin__bottom: 40px;
}

.our-team {
  padding-top: calc(100vw * 0.093);
  padding-bottom: calc(100vw * 0.1 - var(--column-margin__bottom));
}

.our-team__title {
  margin-bottom: calc(100vw * 0.11);
}

.our-team__block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.our-team__column {
  flex-basis: 27.5%;
  margin-bottom: var(--column-margin__bottom);
}

.our-team__img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 25px;
}

.our-team__name {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 5px;
}

.our-team__position {
  text-align: center;
  font-weight: normal;
}

/* ---services--- */

.services {
  background-color: #f8f8f8;
  padding: calc(100vw * 0.11) 0 calc(100vw * 0.1);
  margin-bottom: calc(100vw * 0.092);
}

.services__title {
  margin-bottom: calc(100vw * 0.112);
}

.services__block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sevices__column {
  flex-basis: 30%;
  background-color: #ffffff;
  padding: 45px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}

.services__items {
  margin-bottom: 60px;
  flex-grow: 1;
}

.sevices__heading {
  text-align: center;
  font-weight: normal;
  color: #01353e;
  font-size: 36px;
  line-height: 1.1;
  margin-bottom: 58px;
}

.services__item {
  font-weight: 400;
}

.services__item:not(:last-child) {
  margin-bottom: 20px;
}

.services__price {
  text-align: center;
  color: #01353e;
  font-size: 36px;
  line-height: 1.1;
  position: relative;
}

.services__price span {
  position: absolute;
  font-size: 18px;
  line-height: 1.2;
  top: 33%;
  transform: translateX(5px);
}

/* ----map------- */


.map {
  max-width: 1473px;
  height: calc(100vw * 0.3333);
  margin: 0 auto;
  margin-bottom: calc(100vw * 0.104);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* ---feedback--- */

.feedback {
  margin-bottom: calc(100vw * 0.1);
}

.feedback__title {
  margin-bottom: calc(100vw * 0.126);
}

.feedback__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(100vw * 0.102);
}

.feedback__form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

/* -------------------------------- */

.feedback__row {
  position: relative;
  margin-bottom: 35px;
  height: 38px;
}

.feedback__row:nth-child(2) {
  margin-bottom: 53px;
}

.feedback__row:last-of-type {
  margin-bottom: 70px;
  min-height: 156px;
}

.feedback__row label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 2px 4px 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 1;
  color: #00b2a0;
  width: 260px;
  transition: all 0.3s ease-in-out;
}

.feedback__input,
.feedback__textarea {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 2px 4px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #dadada;
  font-size: 18px;
  font-weight: normal;
  resize: none;
  outline: transparent;
  border-radius: 5px;
}

.feedback__input:focus,
.feedback__textarea:focus {
  box-shadow: 0 0 0 4px rgba(149, 197, 243, 0.9);
}

.feedback__input:not(:placeholder-shown)+label,
.feedback__textarea:not(:placeholder-shown)+label {
  font-size: 11px;
  margin: 0 0 0 1px;
  width: auto;
}

.feedback__input::placeholder,
.feedback__textarea::placeholder {
  color: transparent;
}

.feedback__textarea {
  height: 156px;
}

.feedback__btn {
  align-self: flex-start;
}

.feedback__textarea::placeholder {
  width: 260px;
}

/* ------------------------------------------ */

address {
  font-style: normal;
}

.feedback__inner {
  flex-basis: 50%;
  padding-top: 52px;
  padding-left: 52px;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.2;
  padding-bottom: 71px;
  background-color: #f8f8f8;
}

.feedback__text:not(:last-child) {
  margin-bottom: 69px;
}

.feedback__phone {
  transition: all 0.3s;
  display: inline-block;
}

.feedback__phone:hover {
  transform: scale(1.1);
  color: rgb(98, 168, 201);
}

.feedback__text--address {
  max-width: 327px;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__item:not(:last-child) {
  margin-right: 15px;
}

.socials__link {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 24px;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
}

.socials__link:focus {
  border-color: #666;
}

.socials__link:hover {
  color: #ffffff;
  background-color: #00b2a0;
  border-radius: 5px;
}

.socials__link:active {
  color: #000000;
  background-color: #c3c9c8;
}

.socials__item {
  transition: color 0.3s;
}

.socials__item:hover {
  color: #00b2a0;
}

.go-top {
  position: absolute;
  right: 100px;
  bottom: 50%;
  transform: translatey(50%);
}

/* ---footer----- */

.footer {
  position: relative;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00b2a0;
}





/* ----------media 1220 ---------- */

@media (max-width: 1220px) {

  body {
    font-size: 16px;
    line-height: 1.6;
  }

  /* ---title------ */


  /* ---header----- */
  .header__menu {
    max-width: 82%;
  }

  /* ---about------ */
  .about {
      padding: calc(100vw * 0.1) 0 calc(100vw * 0.1);
  }
  /* ---get-------- */

  .get__item {
    max-width: 300px;
  }

  .get__advantages {
    max-width: 500px;
  }

  /* ---serfing---- */

  .serfing__title {
    text-align: center;
  }

  .serfing__text p {
    max-width: 100%;
  }

  .serfing__inner {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .serfing__foto {
    display: none;
  }

  /* ---gallery---- */
  /* ---blog------- */
  /* ---our-team--- */
  /* ---services--- */
  /* ----map------- */
  /* ---feedback--- */
  /* ---footer----- */
}

/* ----------media 1024 ---------- */

@media (max-width: 1024px) {

  /* ---title------ */

  .title {
    font-size: 30px;
  }

  .title::after {
    content: none;
  }

  /* ---header----- */

  .header__menu {
    max-width: 100%;
    width: 100%;
  }

  .menu {
    position: fixed;
    transform: translatey(-200%);
    border-radius: 10xp;
    left: 30%;
    right: 10px;
    z-index: 10;
    -webkit-transform: translatey(-200%);
    -moz-transform: translatey(-200%);
    -ms-transform: translatey(-200%);
    -o-transform: translatey(-200%);
}

  .menu--active {
    transform: translatey(-6%);
  }

  .menu__list {
    background-color: rgb(87, 133, 155, 0.9);
    border: 1px solid rgb(87, 133, 155, 1);
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    overflow-y: auto 
    /* max-height: 80vh  */
  }
  .menu__item {
    width: 100%;
  }

  .menu__item:not(:last-child) {
    margin-right: 0;
  }

  .menu__link {
    padding: 10px;
    border-bottom-color: transparent;
    border-radius: 0;
    color: black;
  }

  .menu__item:not(:last-child) .menu__link {
    border-bottom-color: lightgray;
  }

  .menu__link:focus {
    -webkit-box-shadow: inset 0px 0px 5px 5px #D3D3D3;
    box-shadow: inset 0px 0px 8px 5px #D3D3D3;
  }

  .menu__link:hover {
    color: lightgray;
    border-bottom-color: transparent;
  }

  .menu__link:active {
    color: #000000;
    background-color: #c3c9c8;
  }

  .menu__btn {
    display: flex;
    position: fixed;
  }

  .content__icon {
    width: 15px;
    min-height: 50px;
    margin-bottom: 70px;
  }

  .content__name {
    font-size: 150px;
  }

  /* ---about------ */

  .about__text p {
    flex-basis: 51%;
    margin-bottom: 0;
    margin-right: 0;
  }

  .about__text p:not(:last-child) {
    margin-bottom: 27px;
  }

  /* ---get-------- */

  .get__list {
    display: block;
  }

  .get__bottom {
    display: block;
  }

  .get__item {
    max-width: 60%;
    margin: 0 auto;
  }

  .get__item:not(:last-child) {
    margin-bottom: 25px;
  }

  .get__advantages {
    max-width: 60%;
    margin: 0 auto;
  }

  .statistics {
    max-width: 35%;
    margin: 0 auto 50px;
  }

  /* ---serfing---- */

  .numbers {
    padding-left: 10%;
    padding-right: 10%;
  }

  .numbers .numbers__item {
    width: 50%;
    margin-right: 0;
  }

  /* ---gallery---- */
  /* ---blog------- */

  .blog__link {
    height: 600px;
  }

  /* ---our-team--- */
  /* ---services--- */
  /* ----map------- */
  /* ---feedback--- */
  /* ---footer----- */
  .footer {
    min-height: 150px;
  }
}

/* ----------media 767 ---------- */

@media (max-width: 767px) {

  /* ---title------ */

  .title {
    font-size: 28px;
  }

  /* ---header----- */

  .content__icon {
    margin-bottom: 40px;
  }

  .content__name {
    font-size: 100px;
  }

  .content__description {
    font-size: 16px;
  }

  .menu {
    left: 10px;
  }

  /* ---about------ */
  .about__text p {
    flex-basis: 400px;
  }

  /* ---get-------- */

  .get__subtitle {
    font-size: 18px;
  }

  .get__item {
    max-width: 400px;
    margin: 0 auto;
  }

  .statistics {
    max-width: 300px;
    margin: 0 auto 50px;
  }

  .get__advantages {
    max-width: 400px;
  }

  /* ---serfing---- */
  /* ---gallery---- */

  .mix__filters {
    flex-direction: column;
    background-color: #b3b6b3;
    border: 1px solid #b3b6b3;
    border-radius: 5px;
    padding: 3px;
  }

  .mixitup-control-active {
    outline: transparent;
  }
  
  .mix__filter:not(:last-child) {
    margin-right: 0;
  }
  
  .mix__btn {
    width: 100%;
    padding: 10px 0;
    border-radius: 0;
  }
  
  .mix__filter:not(:last-child) .mix__btn {
    border-bottom: 1px solid #666;
  }

  .mix__btn:hover,
  .mix__btn:active {
    border-radius: 0;
  }

  .blockquote__inner {
    font-size: 24px;
  }

  .video {
    height: 400px;
  }

  .video::before {
    background-size: 60px 60px;
  }

  .numbers__item {
    font-size: 35px;
  }

  /* ---blog------- */

  .blog__text {
    font-size: 24px;
  }

  .blog__link {
    height: 500px;
  }

  /* ---our-team--- */

  .our-team__block {
    flex-direction: column;
    align-items: center;
  }

  .our-team__column {
    flex-basis: 330px;
  }

  .our-team__column:not(:last-child) {
    margin-bottom: 30px;
  }

  /* ---services--- */

  .services__block {
    flex-direction: column;
    align-items: center;
  }

  .sevices__column {
    flex-basis: 360px;
  }

  .sevices__column:not(:last-child) {
    margin-bottom: 30px;
  }

  /* ----map------- */
  /* ---feedback--- */

  .feedback__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .feedback__form {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .feedback__inner {
    padding: 10px;
  }

  .socials {
    flex-direction: column;
    align-items: center;
  }

  .socials__item:not(:last-child) {
    margin-right: 0;
  }

  .socials__item {
    min-height: 50px;
  }

  .socials__link {
    padding: 10px 0;
  }

  /* ---footer----- */

  .footer {
    min-height: 100px;
  }
}

/* ----------media 575 ---------- */

@media (max-width: 575px) {


  /* ---title------ */
  /* ---header----- */

  .content__name {
    font-size: 70px;
  }

  /* ---about------ */
  /* ---get-------- */
  /* ---serfing---- */
  /* ---gallery---- */

  .gallery__button {
    min-width: 200px;
  }

  .blockquote {
    padding: 40px 0 30px;
  }

  .video {
    height: 300px;
  }

  .video::before {
    background-size: 40px 40px;
  }

  /* ---blog------- */

  .blog__link {
    height: 400px;
  }

  /* ---our-team--- */
  /* ---services--- */
  /* ----map------- */
  /* ---feedback--- */

  .btn {
    min-width: 250px;
  }

  /* ---footer----- */

}