body {
  color: #242121;
  background-color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.6px;
}

.wrapper {
  overflow-x: hidden;
}

.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ---title------ */

.title {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: #01353e;
}

.title::after {
  content: "/";
  color: #00b2a0;
  font-size: 1.5em;
  position: absolute;
  padding-top: 3px;
  padding-left: 11px;
}

.btn {
  padding: 20px 10px;
  min-width: 350px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 24px;
  background-color: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  outline: transparent;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
  -webkit-transition: color 0.3s, background-color 0.3s, border 0.3s;
  -moz-transition: color 0.3s, background-color 0.3s, border 0.3s;
  -ms-transition: color 0.3s, background-color 0.3s, border 0.3s;
  -o-transition: color 0.3s, background-color 0.3s, border 0.3s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.btn:focus {
  border-color: #666;
}

.btn:hover {
  color: #ffffff;
  background-color: #00b2a0;
  border-radius: 10px;
}

.btn:active {
  color: #000000;
  background-color: #c3c9c8;
}

/* ---header----- */

.wrapper-menu {
  position: fixed;
  z-index: 100;
  width: 100%;
  left: 0;
  /* height: 100px; */
}

.header__background {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* padding-top: 120px; */
  display: flex;
  flex-direction: column;
}

.header__background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 45.37%;
  background-image: linear-gradient(180deg, #01353e 0%,
      rgba(51, 51, 51, 0.595076) 31.64%,
      rgba(51, 51, 51, 0.222586) 74.35%,
      rgba(51, 51, 51, 0) 99.87%);
}

.header__wrapper-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.header__logo {
  position: absolute;
  padding: 0 10px;
  top: 33px;
  display: flex;
  z-index: 150;
  border-radius: 5px;
}

.logo {
  outline: 1px solid transparent;
  outline: none;
}

.logo:focus {
  outline: cornflowerblue;
}

.logo__img {
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}

.logo__img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.header__menu {
  position: relative;
  z-index: 100;
  /* background-color: #ac5576; */
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: right;
  padding-top: 52px;
}

.menu {
  position: relative;
  transition: transform 0.9s;
  -webkit-transition: transform 0.9s;
  -moz-transition: transform 0.9s;
  -ms-transition: transform 0.9s;
  -o-transition: transform 0.9s;
}


.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-Y: hidden;
  padding-bottom: 50px;
}

.menu__list--scroll {
  overflow-y: scroll;
}

.menu__item:not(:last-child) {
  margin-right: 45px;
}

.menu__link {
  display: block;
  color: #ffffff;
  font-size: 24px;
  line-height: 1.2;
  font-weight: normal;
  border: 1px solid transparent;
  outline: transparent;
  outline-offset: 0;
  transition: border-color 0.3s linear, color 0.3s linear;
  -webkit-transition: border-color 0.3s linear, color 0.3s linear;
  -moz-transition: border-color 0.3s linear, color 0.3s linear;
  -ms-transition: border-color 0.3s linear, color 0.3s linear;
  -o-transition: border-color 0.3s linear, color 0.3s linear;
}

.menu__link:focus {
  border-color: #B1B1B1;
}

.menu__link:hover {
  border-bottom-color: #00b2a0;
}

.menu__link:active {
  color: #000000;
  background-color: #c3c9c8;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.row {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.content__description {
  overflow: hidden;
  color: #000;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  transform: translateY(-17%);
  -webkit-transform: translateY(-17%);
  -moz-transform: translateY(-17%);
  -ms-transform: translateY(-17%);
  -o-transform: translateY(-17%);
}

.content__name {
  display: block;
  color: #0d302c;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 200px;
  font-weight: bold;
  text-transform: uppercase;
}

.content__icon {
  background-image: url("../images/vector.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  min-height: 69px;
  margin-bottom: 92px;
  transition: transform 0.3s;
  outline: 1px solid transparent;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}

.content__icon:hover {
  transform: scale(1.3);
}

/* ---about------ */

.about {
  padding: 189px 0 200px;
}

.about__title {
  margin-bottom: calc(100vw * 0.052);
}

.about__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about__text p {
  margin-bottom: 27px;
  flex-basis: 40%;
  margin-right: 10%;
}

/* ---get-------- */

.get {
  padding-top: calc(100vw * 0.09);
  padding-bottom: calc(100vw * 0.11);
  background-color: #f8f8f8;
}

.get__title {
  margin-bottom: calc(100vw * 0.05);
}

.get__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(100vw * 0.055);
}

.get__item {
  max-width: 350px;
}

.get__subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 220px;
  margin: 0 auto 11px;
  padding-left: 65px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: normal;
  text-transform: uppercase;
  min-height: 55px;
}

.get__subtitle::before {
  content: "";
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}

.get__subtitle--residence::before {
  background-image: url("../images/residence.svg");
}

.get__subtitle--flight::before {
  background-image: url("../images/flight.svg");
}

.get__subtitle--training::before {
  background-image: url("../images/training.svg");
}

/* ------------------- */

.get__bottom {
  display: flex;
  justify-content: space-between;
}

.statistics {
  width: 100%;
  max-width: 350px;
}

.statistics__item {
  display: flex;
  position: relative;
}

.statistics__item:not(:last-child) {
  margin-bottom: 25px;
}

.statistic__text {
  position: inherit;
  top: 30px;
  margin-right: 10px;
}

.statistic__text::before {
  content: "";
  background-image: url("../images/statidtics.svg");
  background-repeat: no-repeat;
  position: absolute;
  bottom: 25px;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.statistics__span {
  display: block;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
}

.get__advantages {
  max-width: 600px;
}

.get__advantages p:not(:last-child) {
  margin-bottom: 30px;
}

/* ---serfing---- */

.serfing {
  position: relative;
  padding-top: calc(100vw * 0.1);

}


.serfing__title {
  margin-bottom: calc(100vw * 0.052);
  text-align: left;
}

.serfing__inner {
  width: 49%;
}

.serfing__text p {
  max-width: 507px;
}

.serfing__text p:not(:last-child) {
  margin-bottom: 30px;
}

.serfing__foto {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: calc(100vw * 0.435);
  background-size: cover;
  background-repeat: no-repeat;
}

/* ---gallery---- */

.gallery {
  padding-top: calc(100vw * 0.179);
}

.gallery__title {
  margin-bottom: calc(100vw * 0.108);
}

.mix__filters {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 45px;
}

.mix__filter:not(:last-child) {
  margin-right: 14px;
}

.mix__btn {
  background-color: transparent;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.2;
  text-transform: uppercase;
  outline: transparent;
  padding: 0 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
  -webkit-transition: color 0.3s, background-color 0.3s;
  -moz-transition: color 0.3s, background-color 0.3s;
  -ms-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
}

.mix__btn:focus {
  border-color: #666;
  -webkit-box-shadow: inset 0px 0px 5px 5px #D3D3D3;
  box-shadow: inset 0px 0px 8px 5px #D3D3D3;
}

.mix__btn:hover {
  color: #ffffff;
  background-color: #00b2a0;
  border-radius: 5px;

}

.mix__btn:active {
  color: #000000;
  background-color: #c3c9c8;
  border-radius: 5px;
}

.mixitup-control-active {
  border-radius: 5px;
}

.mix__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -40px;
}

.mix__image {
  position: relative;
  margin-bottom: 40px;
  margin-right: 40px;
}

.mix__link img {
  width: 100%;
}

.mix__link::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51);
  opacity: 0;
  transition: opacity 0.5s;
}

.mix__link:hover::before {
  background-color: rgba(51, 51, 51);
  opacity: 0.7;
}



.gallery__show {
  padding-top: 12px;
  margin-bottom: calc(100vw * 0.1);
  text-align: center;
}

/* -----blockquote----- */

.blockquote {
  background-color: #f8f8f8;
  padding: 80px 0 60px;
  margin-bottom: calc(100vw * 0.105);
  display: flex;
  justify-content: center;
}

.blockquote__inner {
  flex: 0 1 880px;
  text-align: center;
  font-size: 36px;
  line-height: 1.1;
  font-style: italic;
  font-weight: normal;
}

.blockquote__author {
  display: block;
  text-align: right;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 300;
  padding-right: 10px;
}

.video {
  display: block;
  margin-bottom: calc(100vw * 0.102);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.video::before {
  position: a;
  width: 100pbsolute;
  content: "" x;
  height: 100px;
  background-image: url("../images/play-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.video:hover::before {
  background-image: url("../images/play-icon-hover.svg");
}

.numbers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: calc(100vw * 0.1);
}

.numbers__item {
  text-align: center;
  font-weight: 700;
  font-size: 64px;
  color: #01353e;
}

.numbers__item:not(:last-child) {
  margin-right: 92px;
}

.numbers__item span {
  display: block;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  padding-top: 5px;
}

/* ---blog------- */

.blog__title {
  margin-bottom: calc(100vw * 0.12);
}

.blog__link {
  display: block;
  height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.blog__link::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(36, 33, 33, 0.5);
}

.blog__container {
  min-height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.blog__inner {
  z-index: 1;
  color: #ffffff;
  max-width: 600px;
  transform: translateY(-16px);
  -webkit-transform: translateY(-16px);
  -moz-transform: translateY(-16px);
  -ms-transform: translateY(-16px);
  -o-transform: translateY(-16px);
}

.blog__text {
  font-weight: normal;
  font-size: 48px;
  line-height: 1.2;
  text-transform: uppercase;
}

.blog__subtext {
  font-weight: 300;
  font-size: 14px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
}

.slick-dots li:not(:last-child) {
  margin-right: 15px;
}

.slick-dots button {
  border: none;
  font-size: 0;
  background-color: white;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  outline: transparent;
  cursor: pointer;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}

.slick-dots button:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}

.slick-active button {
  width: 17px;
  height: 17px;
  background-color: #00b2a0;
}

/* -----ourteam----- */

:root {
  --column-margin__bottom: 40px;
}

.our-team {
  padding-top: calc(100vw * 0.093);
  padding-bottom: calc(100vw * 0.1 - var(--column-margin__bottom));
}

.our-team__title {
  margin-bottom: calc(100vw * 0.11);
}

.our-team__block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.our-team__column {
  flex-basis: 27.5%;
  margin-bottom: var(--column-margin__bottom);
}

.our-team__img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 25px;
}

.our-team__name {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 5px;
}

.our-team__position {
  text-align: center;
  font-weight: normal;
}

/* ---services--- */

.services {
  background-color: #f8f8f8;
  padding: calc(100vw * 0.11) 0 calc(100vw * 0.1);
  margin-bottom: calc(100vw * 0.092);
}

.services__title {
  margin-bottom: calc(100vw * 0.112);
}

.services__block {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.sevices__column {
  flex-basis: 30%;
  background-color: #ffffff;
  padding: 45px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}

.services__items {
  margin-bottom: 60px;
  flex-grow: 1;
}

.sevices__heading {
  text-align: center;
  font-weight: normal;
  color: #01353e;
  font-size: 36px;
  line-height: 1.1;
  margin-bottom: 58px;
}

.services__item {
  font-weight: 400;
}

.services__item:not(:last-child) {
  margin-bottom: 20px;
}

.services__price {
  text-align: center;
  color: #01353e;
  font-size: 36px;
  line-height: 1.1;
  position: relative;
}

.services__price span {
  position: absolute;
  font-size: 18px;
  line-height: 1.2;
  top: 33%;
  transform: translateX(5px);
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
}

/* ----map------- */


.map {
  margin: 0 auto;
  width: 100%;
  max-width: 675px;
}

/* ---feedback--- */

.feedback {
  margin-bottom: calc(100vw * 0.1);
  margin-top: calc(100vw * 0.1);
}

.feedback__title {
  margin-bottom: calc(100vw * 0.1);
}

.feedback__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(100vw * 0.102);
}

.feedback__form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

/* -------------------------------- */

.feedback__row {
  position: relative;
  margin-bottom: 35px;
  height: 38px;
}

.feedback__row:nth-child(2) {
  margin-bottom: 53px;
}

.feedback__row:last-of-type {
  margin-bottom: 70px;
  min-height: 156px;
}

.feedback__row label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 2px 4px 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 1;
  color: #00b2a0;
  width: 260px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.feedback__input,
.feedback__textarea {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 2px 4px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #dadada;
  font-size: 18px;
  font-weight: normal;
  resize: none;
  outline: transparent;
  border-radius: 5px;
}

.feedback__input:focus,
.feedback__textarea:focus {
  box-shadow: 0 0 0 4px rgba(149, 197, 243, 0.9);
}

.feedback__input:not(:placeholder-shown)+label,
.feedback__textarea:not(:placeholder-shown)+label {
  font-size: 11px;
  margin: 0 0 0 1px;
  width: auto;
}

.feedback__input::placeholder,
.feedback__textarea::placeholder {
  color: transparent;
}

.feedback__textarea {
  height: 156px;
}

.feedback__btn {
  align-self: flex-start;
}

.feedback__textarea::placeholder {
  width: 260px;
}

/* ------------------------------------------ */

address {
  font-style: normal;
}

.feedback__inner {
  flex-basis: 50%;
  padding-top: 52px;
  padding-left: 52px;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.2;
  padding-bottom: 71px;
  background-color: #f8f8f8;
}

.feedback__text:not(:last-child) {
  margin-bottom: 69px;
}

.feedback__phone {
  transition: all 0.3s;
  display: inline-block;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.feedback__phone:hover {
  transform: scale(1.1);
  color: rgb(98, 168, 201);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.feedback__text--address {
  max-width: 327px;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__item:not(:last-child) {
  margin-right: 15px;
}

.socials__link {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 24px;
  transition: color 0.3s, background-color 0.3s, border 0.3s;
  -webkit-transition: color 0.3s, background-color 0.3s, border 0.3s;
  -moz-transition: color 0.3s, background-color 0.3s, border 0.3s;
  -ms-transition: color 0.3s, background-color 0.3s, border 0.3s;
  -o-transition: color 0.3s, background-color 0.3s, border 0.3s;
}

.socials__link:focus {
  border-color: #666;
}

.socials__link:hover {
  color: #ffffff;
  background-color: #00b2a0;
  border-radius: 5px;
}

.socials__link:active {
  color: #000000;
  background-color: #c3c9c8;
}

.socials__item {
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
}

.socials__item:hover {
  color: #00b2a0;
}

.go-top {
  position: fixed;
  right: 30px;
  width: 35px;
  height: 35px;
  bottom: 40px;
  transform: translateY(50%);
  border-radius: 50%;
  padding: 5px;
  transition: background-color 0.1s ease-in-out;
  -webkit-transition: background-color 0.1s ease-in-out;
  -moz-transition: background-color 0.1s ease-in-out;
  -ms-transition: background-color 0.1s ease-in-out;
  -o-transition: background-color 0.1s ease-in-out;
}

.go-top:hover {
  background-color: #B1B1B1;
}

.go-top__img {
  width: 100%;
}

/* ---footer----- */

.footer {
  position: relative;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00b2a0;
}